<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>

<body>

    <main>

        <div class="contenedor-bienvenido">
            <h2>Bienvenidos a nuestra Web Snotra</h2>
            <p>
                "Tu cuerpo puede resistir más de lo que tu mente cree. ¡No te rindas!"."La persistencia logra lo
                imposible". juntos haremos que puedas lograr tu mejor <span>versión</span>
            </p>
        </div> 
       


    </main>


</body>

</html>